.odd {
  background-color: #ac247e;
  font-family: Verdana, "Dejavu Sans", sans-serif;
}

#second {
  color: blue;
  font-size: 36px;
}

.change-font-size {
  font-size: 24px;
}

#fourth {
  background-color: #40d63b;
  font-weight: bold;
}
